/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*ROOTS*/
:root{
    --color-white: rgb(255, 255, 255);
    --color-violet: rgb(151, 146, 228) ;
    --color-blue:rgb(0, 132, 253);
    --color-lightblue:rgb(181, 221, 255) ;
    --color-gray:rgb(51, 51, 51);
    --txt-color: rgb(90, 110, 127);
}
/*COMMON*/
.size{
    transform: scale(2);
}

.size-2{
    font-size: 6rem;
    line-height: unset;
}
.lista{
    display: none;
    list-style: none;
}

.btn-h{
    border-radius: 25px;
    padding: 1rem;
    display: none;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color:white
}

.viola{
    background-color: var(--color-violet);
}

.bianco{
    background-color:var(--color-white) ;
    color: black;
}

.azzurro{
    color:var(--color-blue);
}

.btn-azzurro{
    letter-spacing: 3px;
    display: inline-block;
    width: 80%;
    border-radius: 25px;
    padding: 1rem;
    text-decoration: none;
    background-color: var(--color-blue);
    color: white;
    margin-bottom: 2rem;
}
.titolo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.titolo-l{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: left;
}

.p-card-l{
    font-size: 1rem;
    font-weight: bold;
    color: var(--txt-color);
    margin-bottom: 1.5rem;
    text-align: left;
}

.p-card{
    font-size: 1rem;
    font-weight: bold;
    color: var(--txt-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

.circle{
    background-color: var(--color-violet);
    font-size: 2rem;
    border-radius: 50%;
    padding: 1rem 1.7rem;
    margin:2rem 1rem ;
}

.span{
    margin: 2rem 0;
}
/*HEADER*/
.header{
    width: 100%;
    background-color:var(--color-blue) ;
    padding: 1rem 0;
}

.container-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .container-header{
        width: 70%;
    }
    .container-sx{
        display: flex;
        gap: 1rem;
    }
    .tre-barre{
        display: none;
    }
    .btn-h{
        display: block;
    }
    .lista{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

/*MAIN*/
.container-main{
    width:100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

/*GET A DEMO SECTION*/
.card-grande{
    background-color:var(--color-lightblue) ;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto 1rem;
}

.box-img{
    width: 60%;
    margin: 0 auto -1.8rem;
}

.box-img img{
    width: 100%;
}

.box-p{
    width: 100%;    
}


.card{
    background-color:var(--color-lightblue) ;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    padding: 1.5rem;
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .card-grande{
        width: calc(100% / 3 * 2 - 1rem);
        margin:0.5rem;
    }
    .card{
        width: calc(100% / 3 - 1rem);
        margin:0.5rem;
    }
}
@media screen and (min-width: 992px) {
    .row{
        width: 70%;
        margin: 0 auto;
    }
    .card-grande{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .box-p{
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .box-img{
        width: 40%;

    }   
}

/*PLANNING SECTION*/
.container-viola{
    background-color:var(--color-violet) ;
    padding: 4rem 0 5rem;
}

.background{
    width: 90%;
    margin: 0 auto;
    color:var(--color-white);
    text-align: left;
    margin-bottom: 2rem;
}

.background h2{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.background p{
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.background img{
    width: 100%;
    margin-bottom: 4rem;
}

.card-pl{
    padding: 2rem 1rem 3rem;
    width: 90%;
    margin: 0 auto;
    background-color:var(--color-white);
    text-align: center;
    border-radius: 50px;
}

.card-pl h2{
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.card-pl p{
    margin-bottom: 3rem;
    font-style: italic;
    font-weight: 550;
    font-size: 1.2rem;
}

.card-pl img{
    width: 100%;
}

@media screen and (min-width: 992px) {
    .container-viola{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row-viola{
        width: 70%;
        display: flex;
        align-items: flex-end;
        gap: 1rem;
    }
    .background .card-pl{
        width: 45%;
    }
    .card-pl img{
        width: 60%;
    }
}

/*TESTIMONIALS SECTION*/
.container-v{
    width: 90%;
    margin: 0 auto;
}

.row-v{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col-t{
    width: 100%;
    margin: 1rem 0;
}

.card-viola{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-violet) ;
    border-radius: 25px;
}

.foto{
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    height: 40%;
}

.foto img{
    width: 100%;
    border-radius: 50%;
}

.testo{
    width: 100%;
    color: white;
}

.sinistra, .destra{
    width: 100%;
}

/*get started*/
.box{
    width: 90%;
    margin: 0 auto
}

@media screen and (min-width: 768px){
    .foto{
        width: 30%;
    }
    .testo{
        width: 70%;
    }
    .col2{
        width:calc(100% / 2 - 2rem) ;
        margin: 1rem;
    }
    .destra {
        width: 30%;
    }
    .sinistra{
        width: 68%;
    }
    .box{
        width: 70%;
        margin:  0 auto;
    }
}

@media screen and (min-width: 992px) {
    .container-v{
        width: 70%;
        margin: 0 auto;
    }
    .row-v{
        width: 100%;
    }
    .col2{
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }
    .box{
        width: 50%;
        margin: 0 auto;
    }
}



.container-footer{
    background-color:var(--color-gray);
    width: 100%;
}