/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.size{
    transform: scale(2);
}

.lista{
    display: none;
    list-style: none;
}

.btn{
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    display: none;
    color: black ;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color:white
}

.viola{
    background-color: rgb(151, 146, 228) ;;
}

/*HEADER*/
.header{
    width: 100%;
    background-color:rgb(0, 132, 253) ;
    padding: 1rem 0;
}

.container-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .container-header{
        width: 70%;
    }
    .container-sx{
        display: flex;
        gap: 1rem;
    }
    .tre-barre{
        display: none;
    }
    .btn{
        display: block;
    }
    .lista{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

/*MAIN*/
.container-main{
    width:100%;
    height: 1000px;
}

.container{
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*GET A DEMO SECTION*/
.col-grande{
    width: 100%;
    height: 200px;
    margin: 2rem 0 1rem;
}

.col{
    width: 100%;
    height: 200px;
    margin: 1rem 0;
}

.card{
    background-color:rgb(181, 221, 255) ;
    height: 200px;
    width: 100%;
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .col-grande{
        width: calc(100% / 3 * 2 - 1rem);
        margin:0.5rem;
    }
    .col{
        width: calc(100% / 3 - 1rem);
        margin:0.5rem;
    }
}
@media screen and (min-width: 992px) {
    .row{
        width: 70%;
        margin: 0 auto;
    }
}

/*PLANNING SECTION*/
.container-viola{
    background-color:rgb(151, 146, 228) ;
    padding: 1.5rem 0;
}

.background{
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: left;
    margin-bottom: 1rem;
}

.background img{
    width: 100%;
}

.card-pl{
    padding: 0.5rem;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    border-radius: 25px;
}

.card-pl img{
    width: 100%;
}

@media screen and (min-width: 992px) {
    .container-viola{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row-viola{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .background, .card-pl{
        width: 30%;
    }

}

/*TESTIMONIALS SECTION*/
.container-v{
    width: 90%;
    margin: 0 auto;
}

.row-v{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col-t{
    width: 100%;
    margin: 1rem 0;
}

.card-viola{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(151, 146, 228) ;
    border-radius: 25px;
}

.foto{
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    height: 40%;
}

.foto img{
    width: 100%;
    border-radius: 50%;
}

.testo{
    width: 100%;
    color: white;
}

.sinistra, .destra{
    width: 100%;
}
@media screen and (min-width: 768px){
    .foto{
        width: 30%;
    }
    .testo{
        width: 70%;
    }
    .col2{
        width:calc(100% / 2 - 2rem) ;
        margin: 1rem;
    }
    .destra {
        width: 30%;
    }
    .sinistra{
        width: 68%;
    }

}

@media screen and (min-width: 992px) {
    .container-v{
        width: 70%;
        margin: 0 auto;
    }
    .row-v{
        width: 100%;
    }
    .col2{
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }
}


/*ABOUT US*/
